input{
    width: 50%;
    background-color: #ddd;
    border-radius: 50px;
    outline: none;
    padding: 8px 30px;
    outline: none;
    position: relative;
    left: 60px;
}
.container .ajout{
    border-radius: 40px;
    border: none;
    outline: none;
    background-color: black;
    position: relative;
    right: 20px;
    z-index: 100;
}
ul li{
    padding: 8px 15px;
    list-style: none;
    font-size: 20px; 
    border: 10px;
      
}
#mydiv{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 15px 0px;
    background-color: red;
}
#mydiv button{
    border-radius: 40px;
    margin-right: 8px;
}
button:first-child{
    background: red;
}
button:nth-child(2) {
    background-color: orange;
  }
button:last-child{
    background-color: green;
  }
@media screen and (max-width: 900px) {
    input {
     width: 90%;
    }
  }